openapi: 3.0.1
info:
  title: ASP Pharmacy API
  version: "1.0"
  description: API for requesting resources from the ASP
  contact:
    name: Trifork
servers:
  - url: https://test1.apoteksapp.dk/asp/pharmacy
tags:
  - name: pharmacy
    description: ASP Pharmacy API
  - name: drug-package
    description: Operations related to drug packages
  - name: configuration
    description: Operations related to the configurations of pharmacies
paths:
  /api/v1/pharmacy/{pharmacyNumber}/getorders:
    post:
      tags:
        - pharmacy
      summary: Get orders
      description: Fetches a list of orders for the specified CPR
      operationId: getOrders
      parameters:
        - name: createdSince
          in: query
          description: Only include orders created since the specified time
          required: false
          schema:
            type: string
            format: date-time
          example: 2020-06-21T01:23:45.123Z
        - name: limit
          in: query
          description: "Max number of results (max 50, default 10)"
          required: false
          schema:
            type: integer
            format: int32
            default: 10
          example: 5
        - name: orderStatus
          in: query
          description: Only include orders with the specified status
          required: false
          schema:
            type: string
            enum:
              - APPROVED
              - PACKAGED
              - READY_FOR_PICKUP
              - SENT
              - DELIVERED
              - CANCELLED
          example: READY_FOR_PICKUP
        - name: pharmacyNumber
          in: path
          description: 5-digit pharmacy number
          required: true
          schema:
            pattern: "^\\d{5}$"
            type: string
          example: "00300"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CPRDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        "403":
          description: Missing rights to make requests regarding the specified pharmacy number
  /api/v1/pharmacy/{pharmacyNumber}/getuserconsent:
    post:
      tags:
        - pharmacy
      summary: Get user consents
      description: Fetches a list of the consents that the specified user has accepted
      operationId: getConsent
      parameters:
        - name: pharmacyNumber
          in: path
          description: 5-digit pharmacy number
          required: true
          schema:
            pattern: "^\\d{5}$"
            type: string
          example: "00300"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CPRDTO'
        required: true
      responses:
        "200":
          description: The fetched consents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentsDTO'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        "403":
          description: "Missing rights to make requests regarding the specified pharmacy
          number or the specified pharmacy does not have rights to make requests
          regarding the specified CPR"
  /api/v1/pharmacy/{pharmacyNumber}/getuserinfo:
    post:
      tags:
        - pharmacy
      summary: Get user information
      description: Fetches information about a user and their use of the app
      operationId: getUserInfo
      parameters:
        - name: includeConsent
          in: query
          description: Include consents that the user has agreed to
          required: false
          schema:
            type: boolean
            default: false
          example: true
        - name: pharmacyNumber
          in: path
          description: 5-digit pharmacy number
          required: true
          schema:
            pattern: "^\\d{5}$"
            type: string
          example: "00300"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CPRDTO'
        required: true
      responses:
        "200":
          description: The fetched information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoDTO'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        "403":
          description: Missing rights to make requests regarding the specified pharmacy number
  /api/v1/pharmacy/{pharmacyNumber}/order/{orderId}:
    put:
      tags:
        - pharmacy
      summary: Update order
      description: Updates the status of the specified order
      operationId: updateOrderStatus
      parameters:
        - name: orderId
          in: path
          description: Order ID
          required: true
          schema:
            type: string
          example: "1234"
        - name: pharmacyNumber
          in: path
          description: 5-digit pharmacy number
          required: true
          schema:
            pattern: "^\\d{5}$"
            type: string
          example: "00300"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusDTO'
        required: true
      responses:
        "204":
          description: OK
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        "403":
          description: "Missing rights to make requests regarding the specified pharmacy
          number or the specified pharmacy does not have rights to make requests
          regarding the specified order ID"
  /api/v1/drug-package/{packageNumber}/stock-status:
    get:
      tags:
        - drug-package
      operationId: getStockStatus
      summary: Get stock status at pharmacies for a specific drug package
      description: "Returns a list of all pharmacies participating in the nearby stock status programme along with the
      stock status of the specified drug package. The pharmacies in the list are ordered by their distance to the
      requesting/acting pharmacy.
      Also returns the back order status of the drug package at the distributors."
      parameters:
        - $ref: '#/components/parameters/actingPharmacyNumber'
        - in: path
          name: packageNumber
          description: The drug package number to look up stock status for
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 999999
          example: 522003
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearbyStockDTO'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        "403":
          description: "The authentication does not allow access to the requesting/acting pharmacy or the pharmacy
          does not participate in the nearby stock status programme"
  /api/v1/drug-package/{packageNumber}/stock-status/{pharmacyNumber}:
    get:
      tags:
        - drug-package
      operationId: getStockStatusAtPharmacy
      summary: Get stock status at a specific pharmacy for a specific drug package
      description: "Returns stock status information at a specific pharmacy for the specified drug package.
      Also returns the back order status of the drug package at the distributors."
      parameters:
        - $ref: '#/components/parameters/actingPharmacyNumber'
        - in: path
          name: packageNumber
          description: The drug package number to look up stock status for
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 999999
          example: 522003
        - in: path
          name: pharmacyNumber
          description: 5-digit pharmacy number of the pharmacy to query stock status at
          required: true
          schema:
            pattern: "^\\d{5}$"
            type: string
          example: "00300"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockStatusDTO'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        "403":
          description: "The authentication does not allow access to the requesting/acting pharmacy or the queried
          pharmacy does not participate in the nearby stock status programme"
  /api/v1/configurations:
    get:
      tags:
        - configuration
      operationId: getConfigurations
      summary: Look up the configurations of all pharmacies
      description: Retrieve a list of the configuration of all pharmacies
      parameters:
        - $ref: '#/components/parameters/actingPharmacyNumber'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PharmacyConfigurationList'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        "403":
          description: "The authentication does not allow access to the requesting/acting pharmacy"
components:
  parameters:
    actingPharmacyNumber:
      in: header
      name: X-Acting-Pharmacy-Number
      description: 5-digit pharmacy number of the requesting/acting pharmacy
      required: true
      schema:
        pattern: "^\\d{5}$"
        type: string
      example: "00300"
  schemas:
    ApiError:
      required:
        - errorCode
        - message
      type: object
      properties:
        errorCode:
          type: string
          description: An identifiable error code
          example: APP_100
        message:
          type: string
          description: A description of the error
          example: Invalid format of id
    CPRDTO:
      required:
        - cpr
      type: object
      properties:
        cpr:
          pattern: "^\\d{10}$"
          type: string
          description: CPR of the citizen (no dash)
          example: "1507502756"
    ConsentDTO:
      required:
        - consentDateTime
        - fullConsentText
        - heading
        - id
      type: object
      properties:
        id:
          maxLength: 50
          type: string
          description: ID of the consent
          example: ST-12
        heading:
          maxLength: 50
          type: string
          description: Heading of the consent
          example: Your privacy
        fullConsentText:
          maxLength: 65535
          type: string
          description: The contents of the consent
          example: ' I hereby give my permission to...'
        consentDateTime:
          type: string
          description: The point in time at which the citizen gave their consent
          format: date-time
          example: 2020-10-22T09:35:00Z
      description: A list of accepted consents
    ConsentsDTO:
      required:
        - consents
      type: object
      properties:
        consents:
          type: array
          description: A list of accepted consents
          items:
            $ref: '#/components/schemas/ConsentDTO'
    DeliveryInformation:
      required:
        - deliveryType
        - deliveryName
        - deliveryAddress
        - deliveryZip
        - deliveryCity
      type: object
      properties:
        deliveryType:
          type: string
          description: Type of the delivery
          enum:
            - GLS
            - GLS_TO_DOOR
            - POSTNORD
            - POSTNORD_TO_DOOR
            - PHARMACY_DELIVERY
            - PHARMACY_PICKUP
            - DELIVERY_LOCATION_PICKUP
        deliveryPrice:
          type: integer
          description: Price of delivery in ører (1/100 DKK)
          format: int64
          example: 1500
        parcelShopNumber:
          maxLength: 20
          type: string
          description: ID of the pick-up-point
          example: "96606"
        deliveryName:
          maxLength: 100
          type: string
          description: Name of the recipient, parcel shop, pharmacy or delivery location chosen for the order
          example: Egon Olsen
        deliveryAddress:
          maxLength: 100
          type: string
          description: Address of the recipient without city and zip
          example: Private road 42
        deliveryZip:
          maxLength: 10
          type: string
          description: Zip/postcode of the recipient
          example: "4200"
        deliveryCity:
          maxLength: 100
          type: string
          description: City of the recipient
          example: Bysted
      description: Information regarding the delivery of the order
    GetOrdersResponse:
      required:
        - orders
      type: object
      properties:
        orders:
          type: array
          description: List of orders
          items:
            $ref: '#/components/schemas/Order'
    Order:
      required:
        - patient
        - orderedBy
        - email
        - phoneNumber
        - orderId
        - orderEntries
        - orderStatus
        - paymentMethod
        - deliveryInformation
        - createdDateTime
      type: object
      properties:
        patient:
          $ref: '#/components/schemas/PatientDTO'
        orderedBy:
          $ref: '#/components/schemas/OrdererPersonDTO'
        paymentBy:
          $ref: '#/components/schemas/PayingPersonDTO'
        email:
          maxLength: 100
          type: string
          description: Email-address of the contact person for the order
          example: me@mydomain.com
        phoneNumber:
          maxLength: 12
          type: string
          description: Phone number of the contact person for the order
          example: +45 33767600
        orderId:
          maxLength: 20
          type: string
          description: ID of the order
          example: "1234"
        orderEntries:
          type: array
          description: Individual packages in the order
          items:
            $ref: '#/components/schemas/OrderEntry'
        orderStatus:
          type: string
          description: Status of the order
          example: SENT
          enum:
            - APPROVED
            - PACKAGED
            - READY_FOR_PICKUP
            - SENT
            - DELIVERED
            - CANCELLED
        paymentMethod:
          type: string
          description: Method by which the order was paid
          example: BY_AGREEMENT
          enum:
            - BY_AGREEMENT
            - BY_PICKUP
        deliveryInformation:
          $ref: '#/components/schemas/DeliveryInformation'
        createdDateTime:
          type: string
          format: date-time
          description: Time at which the order was placed by the user
          example: 2020-06-21T01:23:45.123Z
      description: List of orders
    OrderEntry:
      required:
        - fmkOrderId
        - packageCount
        - packageNumber
      type: object
      properties:
        fmkOrderId:
          maxLength: 20
          type: integer
          description: ID of the order in FMK
          format: int64
          example: 1234
        packageNumber:
          maxLength: 6
          type: integer
          description: Package number of the product
          format: int64
          example: 504878
        packageCount:
          maxLength: 10
          type: integer
          description: Quantity of the specified package number
          format: int64
          example: 1
      description: Individual packages in the order
    UpdateOrderStatusDTO:
      required:
        - status
      type: object
      properties:
        status:
          type: string
          description: New order status
          example: CANCELLED
          enum:
            - APPROVED
            - PACKAGED
            - READY_FOR_PICKUP
            - SENT
            - DELIVERED
            - CANCELLED
        statusRemark:
          maxLength: 100
          type: string
          description: Comment about the order status.
          example: Cancelled by citizen' request
    UserInfoDTO:
      required:
        - appUser
        - favouritePharmacy
      type: object
      properties:
        appUser:
          type: boolean
          description: Whether the citizen is a registered user of the app or not
          example: true
        favouritePharmacy:
          type: string
          description: YES if the user has marked the requesting pharmacy as their
            favourite. NO if the user does not have a favourite pharmacy. OTHER if
            the user has another pharmacy marked as their favourite
          example: "YES"
          enum:
            - "YES"
            - "NO"
            - OTHER
        favouritePharmacyNumber:
          maxLength: 5
          type: string
          description: Pharmacy number of the pharmacy that the user has marked as
            their favourite. Only present if favouritePharmacy is YES.
          example: "00300"
        consentList:
          type: array
          description: A list of accepted consents
          items:
            $ref: '#/components/schemas/ConsentDTO'
    PatientDTO:
      description: "A person who is a patient that receives the effectuation of an order."
      allOf:
        - $ref: "#/components/schemas/PersonInformationDTO"
    OrdererPersonDTO:
      description: "A person who placed an order."
      allOf:
        - $ref: "#/components/schemas/PersonInformationDTO"
    PayingPersonDTO:
      description: "A person who is paying for an order."
      allOf:
        - $ref: "#/components/schemas/PersonInformationDTO"
    PersonInformationDTO:
      type: object
      required:
        - cpr
        - isNameProtected
      properties:
        cpr:
          pattern: "^\\d{10}$"
          type: string
          description: "CPR of the person (no dash)"
          example: "1507502756"
        name:
          type: string
          maxLength: 100
          description: "Full name of the person. Is required if isNameProtected is `false`. May be present even if
          isNameProtected is `true`."
          example: "Kjeld Jensen"
        isNameProtected:
          type: boolean
          description: "Is `true` if the person has name protection."
          example: false
    NearbyStockDTO:
      description: "Response containing a list of pharmacies participating in the nearby stock status programme ordered
      by distance to the requesting pharmacy.
      Additionally, back order status of the requested drug package at the distributors."
      type: object
      required:
        - pharmacies
        - backOrderStatus
      properties:
        pharmacies:
          description: "List of pharmacies and their stock status of the drug package specified in the request.
          Note that no more than 5 pharmacies can have stock status `IN_STOCK`.
          Pharmacies may have status `MISSING_DATA` if they cannot be queried for unexpected technical reasons.
          All pharmacies located further away than the 5th `IN_STOCK`-pharmacy will have status
          `EXCLUDED_FROM_CURRENT_QUERY`."
          type: array
          items:
            $ref: "#/components/schemas/NearbyStockStatusDTO"
        backOrderStatus:
          $ref: "#/components/schemas/DistributorBackOrderDTO"
    NearbyStockStatusDTO:
      description: Information about stock status at a pharmacy for a drug package specified in a request
      type: object
      required:
        - pharmacy
        - stockStatus
      properties:
        pharmacy:
          $ref: "#/components/schemas/PharmacyDTO"
        stockStatus:
          description: Stock status at the pharmacy
          type: string
          enum:
            - IN_STOCK
            - OUT_OF_STOCK
            - MISSING_DATA
            - EXCLUDED_FROM_CURRENT_QUERY
          example: IN_STOCK
    PharmacyDTO:
      type: object
      description: Information about a pharmacy
      required:
        - pharmacyNumber
        - name
        - address
        - zip
        - city
        - latitude
        - longitude
      properties:
        pharmacyNumber:
          description: 5-digit pharmacy number of the pharmacy
          type: string
          maxLength: 5
          pattern: "^\\d{5}$"
          example: "13200"
        name:
          description: Name of the pharmacy
          type: string
          maxLength: 100
          example: "Aarhus Jernbane Apotek"
        address:
          description: Street address of the pharmacy
          type: string
          maxLength: 100
          example: "Banegårdspladsen 8"
        zip:
          description: Zip code of the pharmacy
          type: string
          maxLength: 4
          example: "8000"
        city:
          description: City of the pharmacy
          type: string
          maxLength: 100
          example: "Aarhus C"
        phone:
          description: Phone of the pharmacy
          type: string
          maxLength: 8
          pattern: "^\\d{8}$"
          example: "86120244"
        email:
          description: Email of the pharmacy
          type: string
          format: email
          maxLength: 100
          example: "jernbane@apoteket.dk"
        latitude:
          description: Latitude of the pharmacy
          type: number
          format: double
          example: 56.150829
        longitude:
          description: Longitude of the pharmacy
          type: number
          format: double
          example: 10.203975
    DistributorBackOrderDTO:
      description: Information about back order status at the distributors
      type: object
      properties:
        backOrderedTmj:
          description: "Whether or not a drug package is in back order at TMJ. Is required if up-to-date data is
          available."
          type: boolean
          example: true
        backOrderedNomeco:
          description: "Whether or not a drug package is in back order at Nomeco. Is required if up-to-date data is
          available."
          type: boolean
          example: false
    StockStatusDTO:
      description: "Stock status of a drug package specified by a request at the specific pharmacy along with its back
      order status at the distributors"
      type: object
      required:
        - pharmacy
        - stockStatus
        - backOrderStatus
      properties:
        pharmacy:
          $ref: "#/components/schemas/PharmacyDTO"
        stockStatus:
          description: "Stock status at the pharmacy. `MISSING_DATA` means that the pharmacy cannot be queried for
          unexpected technical reasons."
          type: string
          enum:
            - IN_STOCK
            - OUT_OF_STOCK
            - MISSING_DATA
        backOrderStatus:
          $ref: "#/components/schemas/DistributorBackOrderDTO"
    PharmacyConfigurationList:
      type: array
      description: List of pharmacies and their configuration
      items:
        $ref: "#/components/schemas/PharmacyConfigurationDTO"
    PharmacyConfigurationDTO:
      description: Information about a pharmacy and its configuration
      type: object
      required:
        - pharmacy
        - appParticipant
        - appStockParticipant
        - aspNearbyStockStatusParticipant
      properties:
        pharmacy:
          $ref: "#/components/schemas/PharmacyDTO"
        appParticipant:
          description: Whether this pharmacy is available for users of the app
          type: boolean
          example: true
        appStockParticipant:
          description: "Whether this pharmacy allows app users to query its stock. Is always true if `appParticipant`
          is true."
          type: boolean
          example: true
        aspNearbyStockStatusParticipant:
          description: Whether this pharmacy participates in the ASP nearby stock status programme
          type: boolean
          example: true
